* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
  height: 100vh;
}

.app {
  max-width: 420px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  margin: 15px 0 5px;
}

.card p {
  color: gray;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.buttons button {
  font-size: 30px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
  margin: 0 15px;
  cursor: pointer;
}

.like {
  background: #ff4458;
  color: white;
}

.nope {
  background: #ccc;
}
